:root {
    /* Color Scheme */
    --primary-color: #257180;
    --secondary-color: #f2e5bf;
    --base-color: #fff6dc;
    --secondary-text: #257180;
    --icon-base1: #cb6040;
    --icon-base2: #389fb4;
    --icon-base3: #fd8b51;
    --card-color: #ffffff;
    --base-variant: #f2e5bf;
    --text-color: #257180;
    --accent-color: linear-gradient(90deg, #bef4ff 0%, #f2e5bf 28.58%, #bef4ff 70%, #f2e5bf 100%);
    --box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.356);
}

/* Sidebar Styles */
.sidebar {
    background-color: var(--primary-color);
    height: 100vh;
    padding: 20px 0;
    position: fixed;
    width: 60px;
    transition: all 0.3s;
    overflow: hidden;
}

.sidebar a {
    color: var(--card-color);
    display: block;
    margin: 20px 0;
    text-align: center;
}

.sidebar a i {
    font-size: 1.4em;
}

/* Responsive Sidebar Styles */
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 10px 0;
        z-index: 1000;
    }

    .sidebar a {
        margin: 0;
    }
}