header {
    position: relative;
    width: 100%;
    height: 90vh; 
    background-image: url('../Img/putih.png');
    background-size: cover; 
    background-position: top; 
    background-repeat: no-repeat; 
    padding-top: 20px;
    z-index: 1; 
}

nav {
    width: 95%;
    height: 8vh;
    background-color: #295F98;
    margin: auto;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    border-radius: 20px;
    position: relative;
    z-index: 2;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding-right: 48px;
}

ul li a {
    text-decoration: none;
    color: white;
}

.logo {
    color: white;
    font-size: 18px;
    font-weight: 400;
    padding-left: 48px;
}

.H1 {
    text-align: center;
    font-size: 20px;
    font-weight: 70;
    color: #26282b;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.p {
    text-align: center;
    color: #26282b;
}

.game {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.card {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    padding: 20px 0;
    height: 310px; 
    text-decoration: none;
}

.card img {
    width: 200px;
    height: 100px; 
    max-height: 300px;
    object-fit: cover;
    margin-bottom: 20px;
}

.card h3 {
    font-size: 1.2rem;
    color: #3B519D; 
    margin-top: 10px; 
}

.card p {
    font-size: 0.9rem;
    color: #333; 
    margin-top: 5px; 
    width: 70%;
    flex-grow: 1;
}
.play {
    margin: auto;
    display: inline-block;
    position: relative;
    background-color: #1d74ca;
    color: #e9edf1; 
    font-weight: bold;
    font-size: 16px;
    border: none;                
    border-radius: 20px;   
    padding: 6px 35px;        
    cursor: pointer;
    text-decoration: none;
    z-index: 10;
    opacity: 1;
    transition: opacity .5s;
}

.play2 {
    place-items: center;
    display: grid;
}
