:root {
  --primary-color: #257180;
  --secondary-color: #f2e5bf;
  --base-color: #fff6dc;
  --secondary-text: #257180;
  --icon-base1: #cb6040;
  --icon-base2: #389fb4;
  --icon-base3: #fd8b51;
  --card-color: #ffffff;
  --base-variant: #f2e5bf;
  --text-color: #257180;
  --accent-color: linear-gradient(
    90deg,
    #bef4ff 0%,
    #f2e5bf 28.58%,
    #bef4ff 70%,
    #f2e5bf 100%
  );
  --box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.356);
}
body {
  /* Sesuaikan dengan tinggi navbar */
  height: 100px;
}
header {
  background: var(--primary-color) !important;
  width: 100%;
  height: 700vh;
}

.nav-custom {
  background: var(--secondary-text) !important;
  box-shadow: 0px 8px 40px 0px rgba(3, 80, 95, 0.25);
}

.text-primary-custom {
  color: var(--text-color) !important;
}

.text-secondary-custom {
  color: var(--secondary, #f2e5bf) !important;
}
section {
  height: auto;
  /* Menghilangkan batasan tinggi untuk menyesuaikan layout */
  padding: 20px 0;
  /* Menambahkan sedikit padding atas-bawah */
}

header {
  height: auto;
  /* Agar header menyesuaikan dengan konten */
}
.fs-cus {
  font-size: 2rem;
  /* Ukuran teks lebih kecil */
  text-align: left;
  /* Teks di tengah */
}
.btn-cs {
  background: var(--secondary, #f2e5bf) !important;
  border-radius: 20px;
  display: flex;
  padding: var(--Space-200, 8px) 20px;
  justify-content: center;
  align-items: center;
  gap: var(--Space-200, 8px);
}

.card {
  border: none;
  border-radius: 15px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.card img {
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.card:hover img {
  transform: scale(1.1);
}

.card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

/* Button Style */
.btn-custom {
  background: linear-gradient(90deg, #009688, #004d40);
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 25px;
  transition: all 0.3s ease;
}

.btn-custom:hover {
  background: linear-gradient(90deg, #004d40, #009688);
  color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.section-header {
  font-size: 2.5rem;
  font-weight: bold;
  color: #004d40;
  text-shadow: 1px 1px 2px #b2dfdb;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.btn-back {
  background-color: #004d40;
  color: white;
  border-radius: 25px;
  transition: all 0.3s ease;
}

.btn-back:hover {
  background-color: #009688;
  color: white;
  transform: scale(1.05);
}


.info-box {
  border-left: 5px solid #004d40;
  padding: 1rem;
  background-color: #e0f2f1;
  border-radius: 10px;
}