<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Lensa Kata{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/game.css' %}">
</head>
<body>
    <header>
        <h1>Baca Cerita</h1>
    </header>
    {% block content %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="{% static 'js/game.js' %}"></script>
</body>
</html>
